<!doctype html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    {{ metatags }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    {% endblock htmltitle %}

    {# FAVICON #}
    {% if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    {% endif %}
    {# CANONICAL URL #}
    {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
    {% endif %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet"
          href="{{ pathto('_static/css/normalize.min.css', 1) }}"
          type="text/css"
          />
    <link rel="stylesheet"
          href="{{ pathto('_static/css/main.css', 1) }}"
          type="text/css"
          />
    <link rel="stylesheet"
          href="{{ pathto('_static/css/' + style, 1) }}"
          type="text/css"
          />

    <script src="{{ pathto('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js', 1) }}">
    </script>

    {%- block linktags %}
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}"
                       href="{{ pathto('about') }}"/>
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}"
                      href="{{ pathto('genindex') }}"/>
    {%- endif %}
    {%- if hasdoc('search') %}
    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
    {%- endif %}
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
    {%- endif %}
    {%- endblock linktags %}
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="nav-wrapper">

      <div class="main-nav">
        <h1>{{ project }}</h1>
        <div class="next-prev">
          {%- if prev %}
          <a title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}">{{ prev.title|striptags|e }}</a>
          {%- endif %}
          {%- if prev and next %} | {% endif %}
          {%- if next %}
          <a title="{{ next.title|striptags|e }}" href="{{ next.link|e }}">{{ next.title|striptags|e }}</a>
          {%- endif %}
        </div>
      </div>

      <label for="sidebartoggler" class="toggle">
        <div class="hamb"></div>
        <div class="hamb"></div>
        <div class="hamb"></div>
      </label>

      <input type="checkbox" id="sidebartoggler" name="" value="">

      <div class="nav">
        <header class="wrapper clearfix">
          <nav>
            {% block menu %}
            {% if 'singlehtml' not in builder %}
            {% set global_toc = toctree(maxdepth=theme_navigation_depth|int, collapse=theme_collapse_navigation, includehidden=True) %}
            {% endif %}
            {% if global_toc %}
            {{ global_toc }}
            {% else %}
            <!-- Local TOC -->
            <div class="local-toc">{{ toc }}</div>
            {% endif %}
            {% endblock menu %}
          </nav>
        </header>
      </div>
    </div>

    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {%- block body %}{% endblock body %}
        </article>
      </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
      <footer class="wrapper">
        <div class="next-prev">
          {%- if prev %}
          <a title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}">{{ prev.title|striptags|e }}</a>
          {%- endif %}
          {%- if prev and next %} | {% endif %}
          {%- if next %}
          <a title="{{ next.title|striptags|e }}" href="{{ next.link|e }}">{{ next.title|striptags|e }}</a>
          {%- endif %}
        </div>
        {%- block footer %}{% endblock footer %}
      </footer>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
